<div class="row well">

  <div class="col-xs-12 col-sm-10">
    <ol class="breadcrumb">
      <li><a href="javascript:void(0);">Home</a></li>
      <li>Category title</li>
      <li class="active">Item</li>
    </ol>
  </div>

  <div class="col-xs-12 col-sm-2">
    <button ng-hide="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = true"  class="btn btn-default btn-block">Find more</button>
    <button ng-show="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = false" class="close" aria-hidden="true">&times;</button>
  </div>

  <auction-search-form ng-show="ctrl.isSearchFormVisible"></auction-search-form>

</div>

<br/>

<div class="row">
  <div class="col-sm-6 col-lg-5 text-center">
    <img ng-src="{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block">
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <a href="javascript:void(0);"><img ng-src="{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0);"><img ng-src="{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0);"><img ng-src="{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block"></a>
      </div>
    </div>
    <hr>
    <h5>
      <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span> {{ ctrl.product.watchers }} Watchers <a
      href="javascript:void(0);" class="btn">Watch</a>
    </h5>
  </div>

  <div class="col-sm-6 col-lg-7">
    <div>
      <h1>{{ ctrl.product.title }}</h1>
      <p>Seller: <b>starmotors</b> (135) 100% Positive feedback</p>
    </div>
    <div class="col-sm-12 col-md-9">
      <h4><b>Current Price</b>: {{ ctrl.product.minimalPrice | currency }} [{{ctrl.product.bidsQty}}&nbsp;bids]</h4>
      <h4><b>Reserved Price</b>: {{ ctrl.product.reservedPrice | currency }}</h4>
      <a class="dropdown-toggle" data-toggle="dropdown">
          Show bids
      </a>
      <ul id="menu1" class="dropdown-menu">
        <li ng-repeat="bid in ctrl.product.bids">
          <p>{{bid.bidTime}}, {{bid.user}}, is winning {{bid.isWinning}}</p>
        </li>
      </ul>
      <p>
        <b>Quantity left</b>: {{ ctrl.product.quantityLeft }}
      </p>
      <p>
        <b>Time left</b>: {{ ctrl.timeleft }}
      </p>
    </div>
    <div class="col-sm-12 col-md-3">
        <p ng-class="ctrl.typeNotification" ng-hide="ctrl.hideNotification">{{ctrl.notification}}</p>
        <form class="form-horizontal" role="form" ng-submit="ctrl.placeBid()">
        <div class="form-group">
          <input type="text" class="form-control" value="" ng-model="ctrl.bidAmount">
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-block btn-primary">Place bid</button>
        </div>
      </form>
    </div>

    <div class="col-xs-12"><b>Item's description</b>:  {{ ctrl.product.description }}
    </div>
  </div>
</div>
